@page
@model ELibrary.Areas.Identity.Pages.Account.Manage.BooksModel
@{
    ViewData["Title"] = "Books";
}

<header>
    <h1 class="text-primary">@ViewData["Title"]</h1>
    <p class="text-secondary">No Books available</p>
</header>
